In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
csvpath1 = os.path.join("hawaii_measurements.csv")
measurements = pd.read_csv(csvpath1)
measurements_df = pd.DataFrame(measurements)

In [3]:
measurements_df.shape

(19550, 4)

In [4]:
measurements_df.isna().sum()

station       0
date          0
prcp       1447
tobs          0
dtype: int64

In [5]:
measurements_df.fillna(method='ffill', inplace=True)

In [6]:
measurements_df.isna().sum()

station    0
date       0
prcp       0
tobs       0
dtype: int64

In [7]:
measurements_df.describe()

               prcp          tobs
count  19550.000000  19550.000000
mean       0.157840     73.097954
std        0.458534      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [8]:
csvpath2 = os.path.join("hawaii_stations.csv")
stations = pd.read_csv(csvpath2)
stations_df = pd.DataFrame(stations)

In [9]:
stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [10]:
stations_df.shape

(9, 5)

In [11]:
stations_df.to_csv("clean_hawaii_stations_v2.csv")

In [12]:
measurements_df.to_csv("clean_hawaii_measurements_v2.csv")