In [21]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

Base = declarative_base()

In [22]:
engine = create_engine("sqlite:///hawaii_9.sqlite")

In [23]:
conn = engine.connect()

In [24]:
class Measurement(Base):
    __tablename__ = "measurement"
    
    id = Column(Integer, primary_key=True)
    Station = Column(String)
    Date = Column(String)
    Precipitation = Column(Float) 
    Temperature = Column(Integer) 
    
class Station(Base):
    __tablename__ = "station"
    
    id = Column(Integer, primary_key=True)
    Station = Column(String)
    Name = Column(String)
    Latitude = Column(Float) 
    Longitude = Column(Float)
    Elevation = Column(Integer)

In [25]:
Base.metadata.create_all(engine)

In [26]:
import pandas as pd

df_of_data_to_insert = pd.read_csv("clean_hawaii_measurements_v2.csv")

In [27]:
df_of_data_to_insert.columns

Index(['Unnamed: 0', 'station', 'date', 'prcp', 'tobs'], dtype='object')

In [28]:
df_of_data_to_insert.rename(columns = {"Unnamed: 0": "id",
                                       'station' : "Station","tobs" : "Temperature",
                                       "date":"Date", "prcp" : "Precipitation"}, inplace=True)

In [29]:
data = df_of_data_to_insert.to_dict(orient='records')

In [30]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [31]:
table = sqlalchemy.Table('measurement', metadata, autoload=True)

In [32]:
conn.execute(table.insert(), data)

In [49]:
#checking the new database -

#conn.execute("select * from measurement").fetchall()

In [41]:
df_of_data_to_insert_2 = pd.read_csv("clean_hawaii_stations_v2.csv")

df_of_data_to_insert_2.columns

Index(['Unnamed: 0', 'station', 'name', 'latitude', 'longitude', 'elevation'], dtype='object')

In [42]:
df_of_data_to_insert_2.rename(columns = {"Unnamed: 0": "id",
                                       'station' : "Station","name" : "Name",
                                       "latitule":"Latitude", "longitude" : "Longitude",
                                        'elevation': 'Elevation'}, inplace=True)

In [43]:
df_of_data_to_insert_2.head()

,id,Station,Name,latitude,Longitude,Elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [44]:
data_2 = df_of_data_to_insert_2.to_dict(orient='records')

In [45]:
metadata_2 = MetaData(bind=engine)
metadata_2.reflect()

In [46]:
table_2 = sqlalchemy.Table('station', metadata_2, autoload=True)

In [47]:
conn.execute(table_2.insert(), data_2)

In [48]:
conn.execute("select * from station").fetchall()

[(0, 'USC00519397', 'WAIKIKI 717.2, HI US', None, -157.8168, 3),
 (1, 'USC00513117', 'KANEOHE 838.1, HI US', None, -157.8015, 14.6),
 (2, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', None, -157.8374, 7),
 (3, 'USC00517948', 'PEARL CITY, HI US', None, -157.9751, 11.9),
 (4, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', None, -158.0111, 306.6),
 (5, 'USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US', None, -157.71139, 19.5),
 (6, 'USC00519281', 'WAIHEE 837.5, HI US', None, -157.84888999999995, 32.9),
 (7, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', None, -157.9992, 0.9),
 (8, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', None, -157.8025, 152.4)]